---
import '../styles/global.css';
import commands from '../data/commands.json';
---

<div id="container">
	<main>
		<div id="tuto">
			<p>Press space to start computing.</p>
			<p>type 'help' for commands.</p>
		</div>
		<div id="terminal"></div>
		<div class="input-row">
			<span class="prompt" id="prompt"></span>
			<input type="text" name="terminal-in" id="terminal-in" autofocus />
		</div>
	</main>
</div>

<style>
.prompt {
	color: var(--lean-white);
}
#terminal-in {
	color: var(--lean-white);
	background: transparent;
	font-family: 'Space Mono', monospace;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	flex: 1;
	caret-color: var(--lean-white);
}
#terminal-in::placeholder {
	color: rgba(255, 255, 255, 0.3);
}
.input-row {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background: var(--bg-color);
	width: 100%;
}
#container {
	height: 100vh;
}
#terminal {
	display: flex;
	flex-direction: column-reverse;
	position: fixed;
	padding-bottom: 3rem;
	padding-left: 1rem;
	bottom: 0;
	left: 0;
	gap: 0;
}
</style>

<script define:vars={{ commands }}>
	document.addEventListener('DOMContentLoaded', () => {
		const terminal = document.getElementById('terminal');
		const input = document.getElementById('terminal-in');
		const prompt = document.getElementById('prompt');
		const tuto = document.getElementById('tuto');

		function updatePrompt() {
			const now = new Date();
			const hour = now.getHours().toString().padStart(2, '0');
			const minute = now.getMinutes().toString().padStart(2, '0');
			prompt.textContent = `${hour}:${minute} compute-more >`;
		}

		function addLine(text, className = '') {
			const lineEl = document.createElement('p');
			lineEl.classList.add('terminal-line');
			if (className) lineEl.classList.add(className);
			lineEl.textContent = text;
			terminal.prepend(lineEl);
		}

		function handleCmd(cmdText) {
			const [cmd, ...args] = cmdText.trim().split(' ');
			const command = commands.find(c => c.name === cmd);

			if (!command) return { output: [`Unknown command: ${cmdText}`]};

			switch(command.name) {
				case 'help': {
					return {
						output: [
							'Available commands:',
							...commands.map(c => `${c.name.toUpperCase()} - ${c.description}`)
						],
						clear: false
					};
				}
				case 'clear': {
					return {
						output: [],
						clear: true
					};
				}
				case 'run': {
					return {
						output: ['Who are you running from ?'],
						clear: true
					};
				}
				default: {
					return {
						output: [`Unknown command: ${cmd}`],
						clear: false
					};
				}
			}
		}

		updatePrompt();
		setInterval(updatePrompt, 60 * 1000);

		input.addEventListener('keydown', (e) => {
			if (e.key === 'Enter') {
				e.preventDefault();
				const line = input.value.trim();
				if (!line) return;

				if (tuto) tuto.remove();

				input.value = '';
				const result = handleCmd(line);
				if (result.clear) {
					  terminal.innerHTML = '';
				}

				result.output.forEach(text => addLine(text));


				const lines = terminal.querySelectorAll('.terminal-line');
				lines.forEach((el, i) => {
					let opa = 1 - i * 0.05;
					opa = opa >= 0.15 ? opa : 0.2;
					el.style.opacity = opa;
					console.log(i, el.style.opacity);
				});
			}
		});

		document.addEventListener('keydown', (e) => {
			if (e.key === 'Escape') {
				e.preventDefault();
				input.placeholder = "press '/' to focus";
				input.blur();
			}

			if (e.key === '/' && document.activeElement !== input) {
				e.preventDefault();
				input.focus();
			}
		});

		input.addEventListener('focus', () => {
			input.placeholder = "";
		});
	});

</script>
